{% assign stylesheets = 'application.bundle.css' | split: ', ' %}
{% assign scripts = 'runtime.bundle.js, hmrClient.bundle.js, vendor.bundle.js, application.bundle.js' %}
<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  <meta name="layout-template" content="theme.liquid">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">

  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

  {% comment %} <link rel="preload" href="{{ 'application.bundle.css' | asset_url }}" as="style">
  <link rel="preload" href="{{ 'application.bundle.js' | asset_url }}" as="script"> {% endcomment %}

  {% if canonical_url != blank  %}
    <link rel="canonical" href="{{ canonical_url }}">
  {% endif %}

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {% if request.page_type == 'search' and search.performed == true %}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {% else %}
      {{ page_title }}
    {% endif %}
    {% if current_tags %}
      {% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% assign escaped_page_title = page_title | escape %}
    {% unless escaped_page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title | strip }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}
  {% include 'css-variables' %}
  {% include 'js-variables' %}
  {% for stylesheet in stylesheets %}
    <link rel="stylesheet" data-local-uri="/assets/{{ stylesheet }}" data-cdn-uri="{{ stylesheet | asset_url }}" type="text/css">
  {% endfor %}
  {{ content_for_header }}
</head>

<body class="template-{{ request.page_type | handle }}">
    {% comment %} {% section 'header' %} {% endcomment %}

    <main id='App' class="main-content" role="main">
      {{ content_for_layout }}
    </main>


    {% comment %} {% section 'footer' %} {% endcomment %}
    {% section 'grid_overlay' %}

    {% render 'linklist-json', handle: 'main-menu' %}
    {% render 'linklist-json', handle: 'footer' %}

    {% render 'scripts', scripts: scripts %}

    <script type="text/javascript">
    const isLocal = /(local|ngrok)/.test(window.location.host)
    const uriAttrKeys = {
      'SCRIPT': 'src',
      'LINK': 'href'
    }
    window.vlamole.initialContent = document.getElementById('App').innerHTML;
    document.querySelectorAll('[data-local-uri]').forEach((assetEl) => {
      const targetUri = isLocal ? assetEl.dataset.localUri : assetEl.dataset.cdnUri
      const attrKey = uriAttrKeys[assetEl.tagName]
      console.log('loading asset', attrKey, targetUri, isLocal);
      assetEl[attrKey] = targetUri
    })
    </script>
</body>
</html>
